.container {
  margin-top: 30%;
}

.card {
  background: transparent;
  border: none;
}

.card-header {
  border: none;
  background-color: transparent;
}

.form-group {
  margin: 10px auto 0;
}

.form-control {
  background-color: rgba(200,200,200,0.05);
  border: none;
}

.alert {
  margin-top: 10px;
}

.alert-danger {
  background: none;
  border-color: #721c24;
}

.alert-success {
  background: none;
  border-color: #155724;
}

.btn-group {
  display: flex;
}

.btn {
  margin: auto !important;
}

.vertical-center {
  min-height: 90%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 90vh; /* These two lines are counted as one :-)       */
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
